<!-- ....................... navbar ....................... -->
<!-- <nav class="px-4 py-2 d-flex align-items-center">
        <div class="d-flex align-items-center">

                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
        </div>

</nav> -->

<!-- .......................... navbar ........................ -->
<!-- <nav>
        <div class="px-5 py-3 ">
                <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-12">
                                                <h1>
                                                        <span>WOOKIE</span><br>
                                                        <span>MOVIES</span>
                                                </h1>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3  ">
                                                <div class="mt-md-5 ml-sm-2 row d-flex justify-content-between align-items-center position-relative">
                                                        <div class="col-sm-1 search  position-absolute d-flex justify-content-center align-items-center">
                                                                <span class=""><i class="fas fa-search"></i></span>
                                                        </div>

                                                        <div class="col-sm-11 ">
                                                                <span class="search ml-auto ">
                                                                        <input class="form-control bg-transparent "
                                                                                [(ngModel)]='term' type="text">
                                                                </span>
                                                        </div>

                                                </div>
                                        </div>
                                        
                                </div>
                        </div>
                </div>


        </div>
</nav>


<div class="line"></div> -->

