<div class="container">
    <div class="row my-5 d-flex justify-content-center">
        <div class="col-lg-4 col-md-8 ">
            <img class="w-100" [src]="imgPrefix+tvdetails?.poster_path" alt="">
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <h2 class="pt-5 pb-2 font-weight-bolder text-md-center text-lg-left ">{{tvdetails?.name}}<span>
                            ({{tvdetails?.vote_average}}) </span></h2>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 mt-1">
                    <div class="stars text-right mt-2">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                        <span> <i class="far fa-star"></i></span>
                    </div>
                </div>
            </div>
            <h4 class=" pl-3  py-2"> {{tvdetails?.first_air_date}}</h4>

            <h6 class=" py-2 overview1 ">{{tvdetails?.overview}}</h6>
        </div>
    </div>
</div>
